@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-section {
  background-image: url('/Images/mocktail-bg.png');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
